<%= object.likes.count %>
<%= link_to comment_likes_path(object), class: "text-light", method: :post do %>
  <% if liked?(subject = object, type = 'comment') %>
      <button class="btn btn-warning">Unlike?</button>
    <% else %>
      <button class="btn btn-primary">Like?</button>
  <% end %>
<% end %>