<h1> This is the index page </h1>

<h2>All Users</h2>
<% @users.each do |user|%>
  <%= link_to user_path(user) do %>
    <%= user.fname %> <%= user.lname %>
  <% end %>
   | 
  <% if current_user.id != user.id%>
    <% unless friendRequestSent?(user) %>
      <%= link_to user_friendships_path(user), method: :post do %>
        <button class= "btn btn-warning"> Send Friend Request? </button>
      <% end %>
    <% else %>
        <button class= "btn btn-info"> Friend Request pending... </button>
    <% end %>
  <% end %>
  <br><br>
<% end %>