
<h2 class="center"> Who Do You Want To Spy On? </h2>
<h5 class="center mb-5">All Users</h5>

<div class="container col-md-8">
  <% @users.each do |user|%>
    <%= render 'findFriends', object: user %>
  <% end %>
</div>