<h1>
  <%= @user.full_name%>
  <br>
</h1>

<div class="row">
  <div class=" mx-auto">

    <div class="col-m6 mb-2"> <%= image_tag @user.image.url if @user.image? %> </div>
    <% if current_user.id == @user.id %>
      <div class="col-m6">
        <button class= "btn btn-violete text-white font-weight-bold" data-toggle="modal" data-target="#imageUploadModal">
          Upload Profile Picture
        </button>
        <%= render 'shared/imageUploadModal', object: @user%>
      </div>
    <%end%>

  </div>
</div>


<h2 class="center mt-5 font-weight-bold border-top pt-5 ">Posts</h2>
<% @user.posts.each do |p|%>
  <%= render 'posts/post_layout', object: p %>
<% end %>

