<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_for(@post) do |f| %>
    Content: <%= f.text_area :content %><br />
    Image_by_URL: <%= f.text_field :imageURL %><br />
    <%= f.submit 'New Post'%>
<% end %>

